.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
    -fx-background-color: #eeeeee;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    /*-fx-padding: 0 0 0 0;*/
}
.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #bdbdbd;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
}